.bl {
  display: block;
}

.il {
  display: inline;
}

.header-region {
  border-color: SeaGreen;
  padding: 20px;
  border-style: solid;
  border-style: dashed;
}

.navigation_menu {
  background-color: white;
  height: 50px;
}

.project {
  background-color: white;
  height: cover;
  border-color: SeaGreen;
  padding: 50px;
  border-style: solid;
  margin: 70px;
  border-radius: 15px;
}

body {
  background-image: url(./img/tl.jpg);
  background-size: cover;
}

audio {
  float: left;
}

.head {
  color: white;
  font-family: Fleur De Leah;
  text-align: center;
  font-size: 100px;
  background-image: url(./img/13.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  text-shadow: 5px 2px 4px darkgreen;
  border-radius: 15px;
  margin: 70px;
  padding: 20px;
}

h1 {
  color: SeaGreen;
  font-family: Imperial Script;
  text-align: center;
  font-size: 70px;
  margin-top: 0px;
  margin-bottom: 30px;
}

h2 {
  color: darkgreen;
  font-family: Libre Bodoni;
  text-shadow: 2px 0px 1px black;
}

p {
  font-size: 20px;
  font-family: Montserrat Alternates;
}

marquee {
  /* margin-top: ; */
  border-radius: 15px;
  margin-top: 40px;
  padding: 20px;
}

.slide-img {
  margin-left: 5px;
}

img {
  border-radius: 15px;
}

.nguon {
  font-style: italic;
  color: grey;
  text-align: center;
}

.button {
  background-color: #339966;
  font-size: 20px;
  border-radius: 15px;
  border-color: white;
  margin: 30px;
  padding: 15px 30px 15px 30px;
  border-radius: 20px;
  color: white;
  font-weight: bold;
  font-family: Montserrat Alternates;
  box-shadow: 5px 2px 4px darkgreen;
}

.button:hover {
  background-color: #4CAF50;
  cursor: pointer;
}

video {
  border-radius: 15px;
  margin: 30px;
}

* {
  box-sizing: border-box;
  font-family: Libre Bodoni;
  outline: none;
  border: none;
  transition: .2s;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  background: #FFFFCC;
  padding: 2rem 9%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 10px rgba(0, 0, 0, 1);
}

.logo {
  font-size: 40px;
  color: darkgreen;
  font-weight: bolder;
  font-family: Montserrat Alternates;
}

.navbar a {
  font-size: 20px;
  padding: 0 1.5rem;
  color: darkgreen;
  font-family: Montserrat Alternates;
}

.navbar a:hover {
  color: lightgreen;
}

#home {
  align-items: center;
  background-image: url(./img/home.jpg);
  background-position: right;
  background-size: cover;
  border-color: SeaGreen;
  padding: 120px;
  border-style: solid;
  margin: 70px;
  border-radius: 15px;
}

h3 {
  font-family: Montserrat Alternates;
  font-size: 40px;
  color: white;
  text-shadow: 5px 2px 4px darkgreen;
}

span {
  font-family: Montserrat Alternates;
  font-size: 20px;
  color: white;
  padding: 1.5rem 0;
  float: left;
  line-height: 1.5;
}

p {
  font-family: Montserrat Alternates;
  font-size: 20px;
  text-align: justify;
  color: black;
  padding: 1.5rem 0;
  line-height: 1.5;
  margin-inline-start: 0px;
}

.right {
  padding-left: 40px;
}

.left {
  padding-right: 40px;
}

.top {
  border-top: 1px dashed SeaGreen;
}

.text-top {
  vertical-align: top;
}

.p-t0 {
  padding-top: 0px;
}

.p-b0 {
  padding-bottom: 0px;
}

.p-t30 {
  padding-top: 30px;
}

.m-t0 {
  margin-top: 0px;
}

.m-b0 {
  margin-bottom: 0px;
}

section {
  scroll-margin-top: 120px;
}

video {
  margin: 0;
}

.us {
  text-align: center;
}

.white {
  color: white;
}

#thanks {
  text-align: center;
  align-items: center;
  background-image: url(./img/hoa.jpg);
  background-position: center;
  background-size: cover;
  padding: 24px 60px 60px 60px;
  border-style: solid;
  margin: 70px;
  border-radius: 15px;
  border-color: SeaGreen;
  font-style: italic;
}

.close {
  margin-bottom: 0px;
}

.btom {
  padding-bottom: 225px;
}

.black {
  color: black
}

.lightgreen {
  color: lightgreen;
}

#about {
  align-items: center;
  background-color: white;
  height: cover;
  border-color: SeaGreen;
  padding: 30px;
  border-style: solid;
  margin: 70px;
  border-radius: 15px;
}

.bot {
  border-bottom: 1px dashed SeaGreen;
  padding: 0;
}